# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf
*.srec

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# folders
r04010101_ESCAPP_20231004/.metadata/
r04010101_ESCAPP_20231004/.settings/
r04010101_ESCAPP_20231004/DebugBME/
r04010101_ESCAPP_20231004/DebugE10/
r04010101_ESCAPP_20231004/Release/
.metadata/
r04010101_ESCAPP_20231004/.cproject
.vscode/settings.json
r04010101_ESCAPP_20231004/.cproject
r04010101_ESCAPP_20231004/trunk Debug OF11.launch
r04010101_ESCAPP_20231004/trunk.launch
r04010101_ESCAPP_20231004/trunk Debug OF11.launch
r04010101_ESCAPP_20231004/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
